{% include "header.njk" %}

<div id="video-container">
    <div class="video-overlay"></div>
    <div class="video-content">
        <div class="inner">
            {# <h1>{{ title }}</h1> #}
            <h1 class="section-heading">Блог Ірини Жуковської</h1>
            <div class="scroll-icon">
                <a class="scrollTo" data-scrollTo="portfolio" href="#"><img src="/assets/img/scroll-icon.png"
                                                                            alt=""></a>
            </div>
        </div>
    </div>
    <video autoplay="" loop="" muted>
        <source src="{{ videoSrc }}.mp4" type="video/mp4"/>
    </video>
</div>


<div class="full-screen-portfolio" id="portfolio">
    <div class="container-fluid">

        {% for post in collections.img_post %}
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{{ post.data.imgSrc }}" data-lightbox="image-1">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    {# <h1>Географічне <em>розміщення</em></h1> #}
                                    {# <p>Яка кухня характерна до цієї тервторії?</p> #}
                                </div>
                            </div>
                            <div class="image">
                                <img src="{{ post.data.imgSrc }}">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>

    <!-- Section Web-Quest -->
    <section class="section-2">
        {% for post in collections.quest_post %}
            <h1 class="section-heading">{{ post.data.titleQuest }}</h1>
            <div class="cards-container">
                <div class="card">
                    <img src="{{ post.data.imgSrc }}" class="card-img"/>
                </div>
            </div>
        {% endfor %}


        <div class="cards-container">
            <h3 class="section-paragraph"> Список посилань "Українська кухня"</h3>
            <ul>
                <li><a href="http://www.iamcook.ru/country/ukraine" target="_blank">http://www.iamcook.ru/country/ukraine</a>
                </li>
                <li><a href="https://yummybook.ru/category/ukrainskaya-kuhnya" target="_blank">https://yummybook.ru/category/ukrainskaya-kuhnya</a>
                </li>
                <li><a href="https://1000.menu/catalog/ukrainskaya-kuxnya" target="_blank">https://1000.menu/catalog/ukrainskaya-kuxnya</a>
                </li>
                <li><a href="http://povar.ru/list/ukrainskaya/" target="_blank">http://povar.ru/list/ukrainskaya/</a>
                </li>
                <li><a href="http://vkuso.ru/recipes/kuxni-mira/ukrainskaya/" target="_blank">http://vkuso.ru/recipes/kuxni-mira/ukrainskaya/</a>
                </li>
            </ul>
            <hr>
            <h3 class="section-paragraph"> Список посилань "Російська кухня"</h3>
            <ul>
                <li><a href="http://www.iamcook.ru/country/russia"
                       target="_blank">http://www.iamcook.ru/country/russia</a></li>
                <li><a href="https://yummybook.ru/category/russkaya-kuhnya" target="_blank">https://yummybook.ru/category/russkaya-kuhnya</a>
                </li>
                <li><a href="https://1000.menu/catalog/russkaya-kuxnya" target="_blank">https://1000.menu/catalog/russkaya-kuxnya</a>
                </li>
                <li><a href="http://povar.ru/list/russkaya/" target="_blank">http://povar.ru/list/russkaya/</a></li>
                <li><a href="http://vkuso.ru/recipes/kuxni-mira/russkaya/" target="_blank">http://vkuso.ru/recipes/kuxni-mira/russkaya/</a>
                </li>
            </ul>
            <hr>
            <h3 class="section-paragraph">Спиисок посилань "Французька кухня" </h3>
            <ul>
                <li><a href="http://www.iamcook.ru/country/french"
                       target="_blank">http://www.iamcook.ru/country/french</a></li>
                <li><a href="https://yummybook.ru/category/francuzskaya-kuhnya" target="_blank">https://yummybook.ru/category/francuzskaya-kuhnya</a>
                </li>
                <li><a href="https://1000.menu/catalog/frantsuzskaya-kuxnya" target="_blank">https://1000.menu/catalog/frantsuzskaya-kuxnya</a>
                </li>
                <li><a href="http://povar.ru/list/francuzskaya/" target="_blank">http://povar.ru/list/francuzskaya/</a>
                </li>
                <li><a href="http://vkuso.ru/recipes/kuxni-mira/francuzskaya/" target="_blank">http://vkuso.ru/recipes/kuxni-mira/francuzskaya/</a>
                </li>
            </ul>
            <hr>
            <h3 class="section-paragraph">Спиисок посилань "Італійська кухня" </h3>
            <ul>
                <li><a href="http://www.iamcook.ru/country/italy"
                       target="_blank">http://www.iamcook.ru/country/italy</a></li>
                <li><a href="https://yummybook.ru/category/ital-yanskaya-ispanskaya-kuhnya" target="_blank">https://yummybook.ru/category/ital-yanskaya-ispanskaya-kuhnya</a>
                </li>
                <li><a href="https://1000.menu/catalog/italyanskaya-kuxnya" target="_blank">https://1000.menu/catalog/italyanskaya-kuxnya</a>
                </li>
                <li><a href="http://povar.ru/list/italyanskaya/" target="_blank">http://povar.ru/list/italyanskaya/</a>
                </li>
                <li><a href="http://vkuso.ru/recipes/kuxni-mira/italyanskaya/" target="_blank">http://vkuso.ru/recipes/kuxni-mira/italyanskaya/</a>
                </li>
            </ul>
            <hr>
            <h3 class="section-paragraph">Спиисок посилань "Китайська кухня" </h3>
            <ul>
                <li><a href="http://www.iamcook.ru/country/china"
                       target="_blank">http://www.iamcook.ru/country/china</a></li>
                <li><a href="https://yummybook.ru/category/kuhnya-kitaya-tailanda-korei" target="_blank">https://yummybook.ru/category/kuhnya-kitaya-tailanda-korei</a>
                </li>
                <li><a href="https://1000.menu/catalog/kitaiskaya-kuxnya" target="_blank">https://1000.menu/catalog/kitaiskaya-kuxnya</a>
                </li>
                <li><a href="http://povar.ru/list/kitayskaya/" target="_blank">http://povar.ru/list/kitayskaya/</a></li>
                <li><a href="http://vkuso.ru/recipes/kuxni-mira/kitajskaya/" target="_blank">http://vkuso.ru/recipes/kuxni-mira/kitajskaya/</a>
                </li>
            </ul>
            <hr>
            <h3 class="section-paragraph">Розділ "Ресурси"</h3>
            <ul>
                <li><a href="http://www.iamcook.ru/country" target="_blank">http://www.iamcook.ru/country</a></li>
                <li><a href="https://yummybook.ru/category/nacionalnye-blyuda" target="_blank">https://yummybook.ru/category/nacionalnye-blyuda</a>
                </li>
                <li><a href="https://1000.menu/catalog/natsionalnaya-kuxnya" target="_blank">https://1000.menu/catalog/natsionalnaya-kuxnya</a>
                </li>
                <li><a href="http://povar.ru/world" target="_blank">http://povar.ru/world</a></li>
                <li><a href="http://vkuso.ru/recipes/kuxni-mira/"
                       target="_blank">http://vkuso.ru/recipes/kuxni-mira/</a></li>
            </ul>

        </div>

    </section>
    <!-- End of Section Web-Quest -->
</div>

{% include "footer.njk" %}